<!-- src\main\resources\templates\board\allpage.html -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>
<div th:replace="~{/header.html::header}"></div>
<div id="cateBox">

</div>
<br />

<div id="btnBox">
	
	<button id="writePost" onclick="writePost()">글쓰기</button>
</div>
<br />

<div id="boardBox">

</div>
<br />

<div th:replace="~{/footer.html::footer}"></div>
<script src="/js/board/allpage.js"></script>
<script src="/js/board/category.js"></script>
</body>

</html>