<!-- src\main\resources\templates\board\write.html -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>글 작성 페이지</title>
</head>

<body>
<div th:replace="~{/header.html::header}"></div>
<div id="">
	<!-- 카테고리 선택 상자 -->
	<select id="selectbox"></select>
	
	<br />
	글제목 <input id="btitle" type="text" /> <br />
	글내용 <textarea id="bcontent"></textarea><br />
	<!-- 파일 업로드를 위한 인풋 박스 추가 -->
	첨부파일 <input id="bfile" type="file" /><br />
	<button onclick="doWrite()" type="button"> 등록</button>
</div>
<div th:replace="~{/footer.html::footer}"></div>
<script src="/js/board/write.js"></script>
</body>

</html>
